
<div class="brand">
  <p>BRAND</p>
  <p>BRAND</p>
  <p>BRAND</p>
  <p>BRAND</p>
  <p>BRAND</p>
  <p>BRAND</p>
  <p>BRAND</p>
  <p>BRAND</p>
</div>
<div class="footer">
  <div class="footer-content">
    <div class="category-container">
      <h5>Category</h5>
      <div class="category">
        <a href="#Home">Home</a>
        <a href="#About">About</a>
        <a href="#eshop">eshop</a>
        <a href="#Features">Features</a>
        <a href="#new collecntions">new collecntions</a>
        <a href="#blog">blog</a>
        <a href="#contact">contact</a>
      </div>
    </div>
    <div class="OurAccount-container">
      <h5>Our Account</h5>
      <div class="OurAccount">
        <a href="#YourAccount">Your Account</a>
        <a href="#PersonalInformation">Personal Information</a>
        <a href="#Addresses">Addresses</a>
        <a href="#Discount">Discount</a>
        <a href="#Orders history">Orders history</a>
        <a href="#Addresses">Addresses</a>
        <a href="#Search Terms">Search Terms</a>
      </div>
    </div>
    <div class="OurSupport-container">
      <h5>Our Support</h5>
      <div class="OurSupport">
        <a href="#YourAccount">Your Account</a>
        <a href="#PersonalInformation">Personal Information</a>
        <a href="#Addresses">Addresses</a>
        <a href="#Discount">Discount</a>
        <a href="#Orders history">Orders history</a>
        <a href="#Addresses">Addresses</a>
        <a href="#Search Terms">Search Terms</a>
      </div>
    </div>
    <div class="subscription-container">
      <h5>Newsletter</h5>
      <p>Join thousands of other people subscribe to our news</p>
      <div class="subscription">
        <input type="email" placeholder="e.g denis@gmail.com">>
        <button>SUBMIT</button>
        <div class="payements">
          <img class="img-responsive" src="./app/assets/images/aex.png">
          <img class="img-responsive" src="./app/assets/images/mastercard.png">
          <img class="img-responsive" src="./app/assets/images/maestero.png">
          <img class="img-responsive" src="./app/assets/images/paypal.png">
          <img class="img-responsive" src="./app/assets/images/discover.png">
          <img class="img-responsive" src="./app/assets/images/visa.png">
        </div>
      </div>
    </div>
    <div class="aboutus-container">
      <h5>About Us</h5>
      <p class="abouttext">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      Aenean commodo ligula eget dolor. Aenean massa.
      Cum sociis natoque penatibus et magnis dis parturient montes,
      nascetur ridiculus mus. Donec quam felis, ultricies nec,
      pellentesque eu, pretium quis, sem. </p>
      <div class="phone">
        <p>Phone:</p>
        <p>1-999-342-9876</p>
      </div>
      <div class="email">
        <p>e-mail:</p>
        <p id="email"> info@surfhouse.com </p>
      </div>
    </div>
  </div>
</div>
