<div class="widget">
  <div class="widget-content">
   <div>
     <h3>Tags Widget</h3>
   </div>
   <div class="tags">
       <span class="first"><b>Kittesurf</b></span>
       <span>Super</span>
       <span>Duper</span>
       <span>Theme</span>
       <span>Men</span>
       <span>Women</span>
       <span>Equipment</span>
       <span>Best</span>
       <span>Accessories</span>
       <span><b>Apparel</b></span>
       <span>Super</span>
       <span>Duper</span>
       <span>Theme</span>
       <span>Responsiv</span>
       <span>Men</span>
       <span>Women</span>
       <span>Equipment</span>
   </div>
   <p><b>view all tags &#8594;</b></p>
  </div>
</div>
