<div class="newproduct">
  <h3>NEW PRORDUCT</h3>
  <div class="arrows">
    <img src="./app/assets/images/arrow-right.png" alt="arrow-right">
    <img src="./app/assets/images/arrow-left.png" alt="arrow-left">
  </div>
</div>
<div class="product-container">
  <div *ngFor="let product of products">
    <div class="product-backround">
      <div class="product-item">
        <a [routerLink]="['/detail', product.id]"><img class="img-responsive" [src]="product.image"></a>
        <div class="product-information">
          <p>{{product.title}}</p>
          <p>{{product.currentprice  | currency:'EUR':true:'2.2-2'}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="product-container">
  <div *ngFor="let product of products">
    <div class="product-backround">
      <div class="product-item">
        <a [routerLink]="['/detail', product.id]"><img class="img-responsive" [src]="product.image"></a>
        <div class="product-information">
          <p>{{product.title}}</p>
          <p>{{product.currentprice  | currency:'EUR':true:'2.2-2'}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
