<div class="wrap">
  <input id="slide-1-trigger" type="radio" name="slides" checked>
  <section class="slide slide-one">
    <div class="sliderbox">
      <div class="item">
        <h1>JP Funride<BR>2017</h1>
        <p>Super easy going freeride boards based on the X-Cite Ride shape concept with additional control and super easy jibing.</p>
        <button class="sliderbutton">BUY NOW</button>
      </div>
    </div>
  </section>
  <input id="slide-2-trigger" type="radio" name="slides">
  <section class="slide slide-two">
    <div class="sliderbox">
      <div class="item">
        <h1>JP Funride<BR>2017</h1>
        <p>Super easy going freeride boards based on the X-Cite Ride shape concept with additional control and super easy jibing.</p>
        <button class="sliderbutton">BUY NOW</button>
      </div>
    </div>
  </section>
  <input id="slide-3-trigger" type="radio" name="slides">
  <section class="slide slide-three">
    <div class="sliderbox">
      <div class="item">
        <h1>JP Funride<BR>2017</h1>
        <p>Super easy going freeride boards based on the X-Cite Ride shape concept with additional control and super easy jibing.</p>
        <button class="sliderbutton">BUY NOW</button>
      </div>
    </div>
  </section>
</div>
