
<div class="login">
  <p>LOG IN</p>
  <p>WISH LIST(0)</p>
</div>

<div class="purchase">
  <div class="purchase1">
    <img class="img-responsive" src="./app/assets/images/cart.png">
  </div>
    <div class="purchase2">
      <p class="price">$1,459.50</p>
      <p class="itemsnumber">2 items</p>
    </div>
</div>

<div class="buttons">
  <div class="viewcart col-md-6">
    <p>VIEW CART</p>
  </div>

  <div class="checkout col-md-6">
    <p>CHECKOUT</p>
  </div>
</div>

<div class="search">
    <div class="col-md-10 searchbar">
      <p>SEARCH</p>
      <img class="img-responsive" src="./app/assets/images/x.png">
    </div>
    <div class="col-md-2 searchicon">
      <img class="img-responsive" src="./app/assets/images/searchicon.png">
    </div>
</div>
