<div class="menu">
  <p>MENU</p>
  <ul>
    <a href="#ABOUT"><li>ABOUT</li></a>
    <a href="#APPAREL"><li>APPAREL</li></a>
    <a href="#SURF APPAREL"><li>SURF APPAREL</li></a>
    <a href="#WINDSURF"><li>WINDSURF</li></a>
    <a href="#KITESURF"><li>KITESURF</li></a>
    <a href="#ACCESSORIES"><li>ACCESSORIES</li></a>
    <a href="#SALE"><li>SALE</li></a>
    <a href="#BRANDS"><li>BRANDS</li></a>
    <a href="#BLOG"><li>BLOG</li></a>
    <a href="#GADGETS"><li>GADGETS</li></a>
    <a [routerLink]="['/contact']" routerLinkActive="active"><li>CONTACT</li></a>
  </ul>
</div>
